.header {
    display: flex;
    flex-direction: row;
    margin-top: 40;
    border: 2px #4C4CFF;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    background-color: #2F2F37;
    height: 56px;
}