.burgerIngredients {
    display: flex;
    background-color: #131316;
    justify-content: center;
    max-width: 600px;
    flex-direction: column;
    max-height: 912px;
    justify-content: flex-start;
}

.text {
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    margin: 40px 0 0;
}

.ingredients {
    overflow-y: scroll;
    overflow-x: hidden;
}