.constructor {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    width:138px;
    height: 56px;
    border-radius: 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    background-color: rgba(0,0,0,0);
    border: 0;
    color: white;
}

.burger {
    height: 24px;
    width: 24px;
}